body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.header {
    background-color: #04496D;
    padding: 10px;
    display: flex;
    align-items: center;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.title {
    flex-grow: 1;
    color: white;
    font-size: 20px;
}

.icon-button {
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-button img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding-top: 140px; /* Adicionado para evitar vazamento para cima */
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

.form-header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

label {
    display: block;
    width: 45%;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: black;
}

.submit-button {
    background-color: #004a7c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #00334e;
}

/* Estilos para a sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px; /* Ajustado de 60px para 100px para adicionar 40px a mais */
    box-shadow: -3px 0 5px rgba(0,0,0,0.2);
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px; /* Espaço entre os ícones de 30px */
}

.menu img {
    width: 30px;
    height: 30px;
}

#menu-button {
    background: none;
    border: none;
    padding: 0;
    margin-right: 20px; /* Margem à direita de 30px */
    cursor: pointer;
}

#menu-button img {
    width: 30px; /* Definindo tamanho quadrado */
    height: 30px; /* Definindo tamanho quadrado */
}
